 /* This is the stylesheet file to my Coding Quiz website, assignment 4. It is
organized top down to match the HTML flow.  Much of the CSS styling is self explanatory due to the semantic HTML used in the associated file. */

/*last updated by Michael O'Connor, January 31, 2021*/


.hide {
  display: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#mainContainer {
  background-color: blue;
  /* background-image: url(Images/IMG_2014.jpeg) */
  padding: 20px;
}

#instructions {
 background-color: cornsilk;
}

#questions {
  background-color: cornsilk;
  padding: 20px;
}

.p {
  padding: 10px;
}

#showselection {
  color: red;
  background: yellow;
  padding: 10 px;
}

#outerGameOverBox {
  background-color: blue;
  padding: 20px;

}

#gameOverBox {
  background-color: cornsilk;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

#choices.choices {
  background-color: rgb(138, 15, 93);
  color: white;
  
}

.footer {
  margin:10px;
}