






.Intro {
  border-style: double;
}

.section {
  border-style: solid;
  border-color: red;
}

.section2 {
  border-style: solid;
  border-color: blue;
}

.col-sm-5 {
  float:left
}

.hide {
  display: none;  /* add none as an attribute to hide sections*/
}

.gameOverHide {
  display:"";  /* add none as an attribute to hide sections*/
}